{% extends "home/layout.html" %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block body %}
<h3 class="mb-3">Residents Info - <span class="text-danger">Delete Family Record</span></h3>
<article class="content-section border rounded p-0 shadow-sm">
    <div class="container">
      <div class="row mt-2">
        <div class="col-auto">
            <h4>Are you sure you want to delete <span class="text-danger">{{ family }}?</span></h4>
        </div>
      </div>
    </div>
    <div class="table-responsive mt-2">
        <table class="table table-danger table-striped table-striped text-cente m-0 projectTables">
        <thead class="table-dark">
          <tr>
            <th class="text-center">Family No.</th>
            <th class="text-center">Resident ID</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Middle Name</th>
            <th class="text-center">Relationship to Head</th>
            <th class="text-center">Birthdate</th>
            <th class="text-center">Age</th>
            <th class="text-center">Civil Status</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Category</th>
            <th class="text-center">Address</th>
            <th class="text-center">Contact Number</th>
            <th class="text-center">Date Updated</th>
          </tr>
        </thead>
        <tbody>
            {% for resident in residents %}
            <tr>
                <td class="text-center">{{ resident.family.family_no }}</td>
                <td class="text-center">{{ resident.id }}</td>
                <td class="text-center">{{ resident.last_name }}</td>
                <td class="text-center">{{ resident.first_name }}</td>
                <td class="text-center">{{ resident.middle_name }}</td>
                <td class="text-center">{{ resident.relationship_to_head|capfirst }}</td>
                <td class="text-center">{{ resident.birthdate|date:"M d, Y" }}</td>
                <td class="text-center">{{ resident.age }}</td>
                <td class="text-center">{{ resident.civil_status }}</td>
                <td class="text-center">{{ resident.gender }}</td>
                <td class="text-center">{{ resident.category }}</td>
                <td class="text-center">{{ resident.present_address }}</td>
                <td class="text-center">{{ resident.contact_number }}</td>
                <td class="text-center">{{ resident.date_updated|date:"M d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <form method="post" class="d-flex justify-content-center align-items-center my-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger me-2">Yes, Delete</button>
        <a href="{% url 'resident-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</article>
{% endblock body %}

{% block script %}

{% endblock %}