{% extends "home/layout.html" %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block body %}
<h3 class="mb-3">Residents Info - <span class="text-danger">Delete Resident Record</span></h3>
<article class="content-section border rounded p-0 shadow-sm">
    <div class="container">
      <div class="row mt-2">
        <div class="col-auto">
            <h4>Are you sure you want to delete <span class="text-danger">{{ resident }}?</span></h4>
        </div>
      </div>
    </div>
    <div class="table-responsive mt-2">
        <table id="dataTable" class="table table-danger table-striped text-center m-0 projectTables">
        <thead class="table-dark">
          <tr>
            <th class="text-center">Resident ID</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Middle Name</th>
            <th class="text-center">Relationship to Head</th>
            <th class="text-center">Birthdate</th>
            <th class="text-center">Age</th>
            <th class="text-center">Civil Status</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Category</th>
            <th class="text-center">Address</th>
            <th class="text-center">Contact Number</th>
            <th class="text-center">Date Updated</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{{ resident.id }}</td>
                <td class="text-center">{{ resident.last_name }}</td>
                <td class="text-center">{{ resident.first_name }}</td>
                <td class="text-center">{{ resident.middle_name }}</td>
                <td class="text-center">{{ resident.relationship_to_head|capfirst }}</td>
                <td class="text-center">{{ resident.birthdate|date:"M d, Y" }}</td>
                <td class="text-center">{{ resident.age }}</td>
                <td class="text-center">{{ resident.civil_status }}</td>
                <td class="text-center">{{ resident.gender }}</td>
                <td class="text-center">{{ resident.category }}</td>
                <td class="text-center">{{ resident.present_address }}</td>
                <td class="text-center">{{ resident.contact_number }}</td>
                <td class="text-center">{{ resident.date_updated|date:"M d, Y" }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <form method="post" class="p-2">
      {% csrf_token %}
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'medicine-list' %}" class="btn btn-secondary ms-2">Cancel</a>
      </div>
    </form>
</article>
{% endblock body %}

{% block script %}


{% endblock %}