{% extends "home/layout.html" %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block body %}
<h3 class="mb-3">Residents Info - <span class="text-primary">List</span></h3>
<article class="content-section border rounded p-0 shadow-sm">
    <div class="container">
      <div class="row mt-2">
        <div class="col-auto">
          <form method="get" action="">
            <div class="input-group">
                <select name="category" class="form-select border-secondary" style="cursor: pointer; vertical-align: middle;">
                  <option value="" {% if not request.GET.category %}selected{% endif %}>All Categories</option>
                  <option value="N/A" {% if request.GET.category == "N/A" %}selected{% endif %}>N/A</option>
                  <option value="Senior" {% if request.GET.category == "Senior" %}selected{% endif %}>Senior</option>
                  <option value="Children" {% if request.GET.category == "Children" %}selected{% endif %}>Children (17 and below)</option>
                  <option value="Solo Parent" {% if request.GET.category == "Solo Parent" %}selected{% endif %}>Solo Parent</option>
                  <option value="Pregnant" {% if request.GET.category == "Pregnant" %}selected{% endif %}>Pregnant</option>
                </select>
                <select name="gender" class="form-select border-secondary" style="cursor: pointer; vertical-align: middle;">
                    <option value="" {% if not request.GET.gender %}selected{% endif %}>All Genders</option>
                    <option value="Male" {% if request.GET.gender == "Male" %}selected{% endif %}>Male</option>
                    <option value="Female" {% if request.GET.gender == "Female" %}selected{% endif %}>Female</option>
                    <option value="Other" {% if request.GET.gender == "Other" %}selected{% endif %}>Other</option>
                </select>
              <button type="submit" class="btn btn-outline-secondary fw-bold">Filter</button>
            </div>
          </form>
        </div>
        <div class="col-auto ms-auto">
          <a href="{% url 'resident-create' %}" class="btn btn-success info border-dark fw-bold d-flex align-items-center">
            <i class="ri-add-fill" style="font-size: calc(6px + 0.8vw);"></i>
            <span class="ms-2">Register Family/Resident</span>
          </a>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-auto">
          <select id="customEntries" class="form-select d-inline w-auto border-secondary fw-bold" style="font-size: 1rem; cursor: pointer; vertical-align: middle;">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span class="d-inline ms-2" style="font-size: 1rem; vertical-align: middle;">Entries per page</span>
        </div>
        <div class="col-auto ms-auto">
          <input type="text" id="searchBar" class="form-control d-inline w-auto border-secondary" placeholder="Search..." style="font-size: 1rem; vertical-align: middle;">
        </div>
      </div>

    </div>
    <div class="table-responsive mt-2">
        <table id="dataTable" class="table table-light table-striped table-striped text-cente m-0 projectTables">
        <thead class="table-dark">
          <tr>
            <th class="text-center">Family No.</th>
            <th class="text-center">Resident ID</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Middle Name</th>
            <th class="text-center">Relationship to Head</th>
            <th class="text-center">Birthdate</th>
            <th class="text-center">Age</th>
            <th class="text-center">Civil Status</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Category</th>
            <th class="text-center">Address</th>
            <th class="text-center">Contact Number</th>
            <th class="text-center">Date Updated</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for resident in residents %}
            <tr>
                <td><a href="{% url 'family-update' resident.family.family_no %}" class="btn btn-sm btn-outline-success fw-bold px-4 text-center"><i class="ri-edit-2-line"></i>{{ resident.family.family_no }}</a></td>
                <td class="text-center">{{ resident.id }}</td>
                <td class="text-center">{{ resident.last_name }}</td>
                <td class="text-center">{{ resident.first_name }}</td>
                <td class="text-center">{{ resident.middle_name }}</td>
                <td class="text-center">{{ resident.relationship_to_head|capfirst }}</td>
                <td class="text-center">{{ resident.birthdate|date:"M d, Y" }}</td>
                <td class="text-center">{{ resident.age }}</td>
                <td class="text-center">{{ resident.civil_status }}</td>
                <td class="text-center">{{ resident.gender }}</td>
                <td class="text-center">{{ resident.category }}</td>
                <td class="text-center">{{ resident.present_address }}</td>
                <td class="text-center">{{ resident.contact_number }}</td>
                <td class="text-center">{{ resident.date_updated|date:"M d, Y" }}</td>
                <td>
                    <div class="d-flex">
                      <a href="{% url 'resident-update' resident.id %}" class="btn btn-sm btn-outline-success fw-bold flex-fill me-1"><i class="ri-edit-2-fill"></i></a>
                      <a href="{% url 'resident-delete-confirm' resident.id %}" class="btn btn-sm btn-outline-danger fw-bold flex-fill"><i class="ri-delete-bin-5-fill"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</article>
{% endblock body %}
