{% extends "home/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'residentInfo/main.css' %}">
{% endblock style %}

{% block body %}
<h3 class="mb-3">Residents Info - <span class="text-primary">Resident Update Form</span></h3>
<article class="content-section border rounded shadow-sm">
    <form method="POST" action="{% url 'resident-update' resident.id %}">
        {% csrf_token %}
        
        <h4>Resident Information</h4>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" class="form-control" value="{{ resident.last_name }}" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control" value="{{ resident.first_name }}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="middle_name">Middle Name:</label>
                <input type="text" id="middle_name" name="middle_name" class="form-control" value="{{ resident.middle_name }}">
            </div>
            <div class="col-md-6 form-group">
                <label for="birthdate">Birthdate:</label>
                <div class="input-group">
                    <input type="text" id="birthdate" name="birthdate" class="form-control flatpickr" value="{{ resident.birthdate|date:"M j, Y" }}" required>
                    <span class="input-group-text"><i class="ri-calendar-line"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" class="form-control" value="{{ resident.age }}" required min="0" max="999">
            </div>
            <div class="col-md-4 form-group">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" class="form-control" required>
                    <option value="Male" {% if resident.gender == "Male" %}selected{% endif %}>Male</option>
                    <option value="Female" {% if resident.gender == "Female" %}selected{% endif %}>Female</option>
                    <option value="Other" {% if resident.gender == "Other" %}selected{% endif %}>Other</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label for="civil_status">Civil Status:</label>
                <input type="text" id="civil_status" name="civil_status" class="form-control" value="{{ resident.civil_status }}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="category">Category:</label>
                <select id="category" name="category" class="form-control">
                  <option value="N/A" {% if resident.category == "N/A" %}selected{% endif %}>N/A</option>
                  <option value="Senior" {% if resident.category == "Senior" %}selected{% endif %}>Senior</option>
                  <option value="Solo Parent" {% if resident.category == "Solo Parent" %}selected{% endif %}>Solo Parent</option>
                  <option value="Pregnant" {% if resident.category == "Pregnant" %}selected{% endif %}>Pregnant</option>
                  <option value="PWD" {% if resident.category == "PWD" %}selected{% endif %}>PWD</option>
                  <option value="Children" {% if resident.category == "Children" %}selected{% endif %}>Children (17 and below)</option>
                </select>                
            </div>
            <div class="col-md-4 form-group">
                <label for="present_address">Present Address:</label>
                <input type="text" id="present_address" name="present_address" class="form-control" value="{{ resident.present_address }}" required>
            </div>
            <div class="col-md-4 form-group">
                <label for="contact_number">Contact Number:</label>
                <input type="text" id="contact_number" name="contact_number" class="form-control" value="{{ resident.contact_number }}" required>
            </div>
        </div>
        
        <div class="mt-3 text-end d-flex align-items-center justify-content-end">
            <input type="submit" class="btn btn-success my-auto" value="Update Record">
            <a href="{% url 'resident-list' %}" class="btn btn-secondary ms-2 my-auto">Cancel</a>
        </div>
    </form>
</article>
{% endblock body %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function(){
    flatpickr(".flatpickr", {
        dateFormat: "M j, Y",
        allowInput: true,
        autoClose: true
    });
});
</script>
{% endblock script %}
