{% extends "home/layout.html" %}
{% load static %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block body %}
<h3 class="mb-3">Residents Info - <span class="text-primary">List</span></h3>
<article class="content-section border rounded p-0 shadow-sm">
    <div class="container">
      <div class="row mt-2">
        <div class="col-auto">
          <form method="get" action="">
            <div class="input-group">
                <select name="category" class="form-select border-secondary" style="cursor: pointer; vertical-align: middle; font-size: calc(0.7rem + 0.2vw);">
                  <option value="" {% if not request.GET.category %}selected{% endif %}>All Categories (Default)</option>
                  <option value="Adult" {% if request.GET.category == "Adult" %}selected{% endif %}>Adult</option>
                  <option value="Senior" {% if request.GET.category == "Senior" %}selected{% endif %}>Senior</option>
                  <option value="PWD" {% if request.GET.category == "PWD" %}selected{% endif %}>PWD</option>
                  <option value="Children" {% if request.GET.category == "Children" %}selected{% endif %}>Children (17 and below)</option>
                  <option value="Solo Parent" {% if request.GET.category == "Solo Parent" %}selected{% endif %}>Solo Parent</option>
                  <option value="Pregnant" {% if request.GET.category == "Pregnant" %}selected{% endif %}>Pregnant</option>
                </select>
                  <select name="gender" class="form-select border-secondary" style="cursor: pointer; vertical-align: middle; font-size: calc(0.7rem + 0.2vw);">
                  <option value="" {% if not request.GET.gender %}selected{% endif %}>All Genders (Default)</option>
                  <option value="Male" {% if request.GET.gender == "Male" %}selected{% endif %}>Male</option>
                  <option value="Female" {% if request.GET.gender == "Female" %}selected{% endif %}>Female</option>
                </select>
                <select name="age" class="form-select border-secondary" style="cursor: pointer; vertical-align: middle; font-size: calc(0.7rem + 0.2vw);">
                  <option value="" {% if not request.GET.age %}selected{% endif %}>All Ages (Default)</option>
                  <option value="6" {% if request.GET.age == "6" %}selected{% endif %}>0-6</option>
                  <option value="18" {% if request.GET.age == "18" %}selected{% endif %}>7-18</option>
                  <option value="59" {% if request.GET.age == "59" %}selected{% endif %}>19-59</option>
                </select>          
              <button type="submit" class="btn btn-outline-secondary fw-bold" style="font-size: calc(0.8rem + 0.2vw);">Filter</button>
            </div>
          </form>
        </div>
        {% if request.user.userprofile.userrole in '[ADMIN,BRGY-STAFF]' %}
        <div class="col-auto ms-auto">
          <a href="{% url 'resident-create' %}" class="btn btn-success info border-dark fw-bold" style="font-size: calc(0.8rem + 0.2vw);">
            <i class="ri-add-fill my-auto" style="font-size: calc(0.6rem + 0.4vw);"></i>
            <span class="ms-1">Register Family/Resident</span>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="row mt-2">
        <div class="col-auto">
          <select id="customEntries" class="form-select d-inline w-auto border-secondary fw-bold" style="font-size: calc(0.8rem + 0.2vw); cursor: pointer; vertical-align: middle;">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span class="d-inline ms-2" style="font-size: calc(0.8rem + 0.2vw); vertical-align: middle;">Entries per page</span>
        </div>
        <div class="col-auto ms-auto">
          <input type="text" id="searchBar" class="form-control d-inline w-auto border-secondary" placeholder="Search..." style="font-size: calc(0.8rem + 0.2vw); vertical-align: middle;">
        </div>
      </div>
    </div>
    <div class="table-responsive table-nowrap mt-2">
        <table id="dataTable" class="table table-light table-hover table-striped table-striped text-center m-0 projectTables">
        <thead class="table-dark">
          <tr>
            <th class="text-center">Family No.</th>
            <th class="text-center">Resident ID</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Middle Name</th>
            <th class="text-center">Relationship to Head</th>
            <th class="text-center">Birthdate</th>
            <th class="text-center">Age</th>
            <th class="text-center">Civil Status</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Category</th>
            <th class="text-center">Address</th>
            <th class="text-center">Contact Number</th>
            <th class="text-center">Date Updated</th>
            {% if request.user.userprofile.userrole in '[ADMIN,BRGY-STAFF]' %}
              <th class="text-center">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for resident in residents %}
            <tr>
                <td>
                  {% if request.user.userprofile.userrole in '[ADMIN,BRGY-STAFF]' %}
                    <a href="{% url 'family-update' resident.family.family_no %}" class="btn btn-sm btn-outline-success fw-bold px-4 text-center"><i class="ri-edit-2-line"></i>{{ resident.family.family_no }}</a>
                  {% else %}
                  <a href="{% url 'family-detail' resident.family.family_no %}" class="btn btn-sm btn-outline-success fw-bold px-4 text-center"><i class="ri-team-fill"></i>{{ resident.family.family_no }}</a>
                  {% endif %}
                </td>
                <td class="text-center">{{ resident.id }}</td>
                <td class="text-center">{{ resident.last_name }}</td>
                <td class="text-center">{{ resident.first_name }}</td>
                <td class="text-center">{{ resident.middle_name }}</td>
                <td class="text-center">{{ resident.relationship_to_head|capfirst }}</td>
                <td class="text-center">{{ resident.birthdate|date:"M d, Y" }}</td>
                <td class="text-center">{{ resident.age }}</td>
                <td class="text-center">{{ resident.civil_status }}</td>
                <td class="text-center">{{ resident.gender }}</td>
                <td class="text-center">{{ resident.category }}</td>
                <td class="text-center">{{ resident.present_address }}</td>
                <td class="text-center">{{ resident.contact_number }}</td>
                <td class="text-center">{{ resident.date_updated|date:"M d, Y" }}</td>
                {% if request.user.userprofile.userrole in '[ADMIN,BRGY-STAFF]' %}
                <td class="text-center align-middle">
                    <div class="d-flex">
                      <a href="{% url 'resident-update' resident.id %}" class="btn btn-sm btn-outline-success fw-bold flex-fill me-1 " title="Edit"><i class="ri-edit-2-fill"></i></a>
                      {% if request.user.userprofile.userrole in '[ADMIN]' %}
                      <button type="button" data-bs-toggle="modal" data-bs-target="#myModal" data-deleteData="{{ resident.last_name }}, {{ resident.first_name }}" data-ID="{{ resident.id }}" data-moduleName="Delete resident record" class="btn btn-sm btn-outline-danger responsive_text fw-bold flex-fill"><i class="ri-delete-bin-5-fill"></i></button>
                      {% endif %}
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <div id="customPagination"></div>
    </div>
</article>
{% endblock body %}

{% block script %}

<script src="{% static 'residentInfo/main.js' %}"></script>

<script>
  $('#myModal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget);
    var deleteData = button.attr('data-deleteData');
    var dataID = button.attr('data-ID')
    var dataUrl = button.attr('data-Url')
    var moduleName = button.attr('data-moduleName')
    
    var txtDeleteData = deleteData
    $(this).find('#deleteMessage').text('Are you sure you want to 0 for: '.replace('0', moduleName));
    $(this).find('#txtDeleteData').text(txtDeleteData);
    $(this).find('#btnDelete').attr('href', '{% url "resident-delete-confirm" 0 %}'.replace('0', dataID));
  });
</script>

{% endblock %}