{% load static %}
  
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-confirm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header mb-0">
                <div class="icon-box">
                    <i class="ri-alert-line my-auto"></i>
                </div>
                <!-- Close button with FontAwesome icon -->
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row mt-0">
                <h4 class="w-100 modal-title" id="modalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p><span id="deleteMessage"></span> <span id="txtDeleteData" class="text-danger"></span>? This process cannot be undone.</p>
            </div>
            <div class="modal-footer mx-auto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="" id="btnDelete" class="btn btn-danger text-white" id="deleteUrl">Confirm</a>
            </div>
        </div>
    </div>
</div>