{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% if title %}
      <title>WeCare - {{ title }}</title>
  {% else %}
      <title>WeCare - </title>
  {% endif %}

  <link rel="icon" href="{% static 'home/images/WeCareLogo.svg' %}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">

  {% block style %}{% endblock %}
</head>
<body>
  <!-- Flex Container -->
  <div id="page-wrapper" class="d-flex" style="min-height: 100vh;">
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar active">
      <div class="p-3" style="position: relative;">
        <button id="sidebarClose" class="btn btn-outline-secondary" style="position: absolute; top: 10px; right: 10px;">
          <i class="ri-close-line"></i>
        </button>
        <div class="sidebar-logo p-3 text-center">
          <a href="{% url "home" %}" class="nav-link">
              <img src="{% static 'home/images/WeCareLogo.svg' %}" alt="Logo" class="img-fluid logo-small">
              <h3 class="">WeCare</h3>
          </a>
        </div>
        <ul class="list-group my-1">
          <a href="{% url "home" %}" class="nav-link {% if request.path == '/' %}active{% endif %} rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-home-9-fill me-1 menu-icons"></i>Home
            </li>
          </a>
        </ul>
        <ul class="list-group my-1">
          <a href="#" class="nav-link rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-home-heart-fill me-1 menu-icons"></i>Resident Info
            </li>
          </a>
        </ul>
        <ul class="list-group my-1">
          <a href="#" class="nav-link rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-user-heart-fill me-1 menu-icons"></i>Patient Info
            </li>
          </a>
        </ul>
        <ul class="list-group my-1">
          <a href="#" class="nav-link rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-file-chart-fill me-1 menu-icons"></i>Reports
            </li>
          </a>
        </ul>
        <ul class="list-group my-1">
          <a href="{% url "account-list" %}" class="nav-link {% if '/users/' in request.path %}active{% endif %} rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-account-box-2-fill me-1 menu-icons"></i>Account Management
            </li>
          </a>
        </ul>
      </div>
    </div>

    <!-- Content Wrapper (Header + Main Content) -->
    <div id="content-wrapper" class="flex-grow-1">
      <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel">
          <div class="container">
            <!-- Sidebar Toggle Button -->
            <div class="navbar-nav align-items-xl-center">
              <button id="sidebarToggle" class="btn btn-outline-light me-3">
                <i class="ri-menu-2-line"></i>
              </button>
            </div>
            <div class="ms-2 me-auto">
              <h5 class="d-flex align-items-end gap-1 mb-1">
                  <span class="text-light nav-font">
                      {% if user.is_authenticated %}Welcome, <span class="text-info">{{ request.user }}</span> <br>{% endif %}
                      <small id="clock" class="my-auto text-muted text-light"></small>
                  </span>
              </h5>
              <p id="active_clock" class="text-muted m-0"></p>
            </div>
            <!-- Right Side Navbar -->
            <div class="navbar-nav ms-auto nav-font">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url "logout" %}">Logout<i class="ri-logout-box-fill "></i></a>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>

      <main id="main-content" role="main" class="container mt-3">
          <div class="row">
            <div class="col">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
              {% block body %}{% endblock %}
            </div>
            {% block summarybar %}{% endblock %}
          </div>
      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Toggle the sidebar visibility by collapsing its width.
    const sidebarToggle = document.getElementById('sidebarToggle');
    const sidebar = document.getElementById('sidebar');
    sidebarToggle.addEventListener('click', function(){
      sidebar.classList.toggle('sidebar-hidden');
    });

    const sidebarClose = document.getElementById('sidebarClose');
    if(sidebarClose) {
      sidebarClose.addEventListener('click', function(){
        sidebar.classList.add('sidebar-hidden');
      });
    }

    if (document.getElementById("clock")) {
      const updateClock = () => {
        const now = new Date();
        const formattedDate = now.toLocaleString('en-US', {
          month: 'short',
          day: 'numeric',
          year: 'numeric',
        });
        const formattedTime = now.toLocaleTimeString();
        document.getElementById("clock").innerHTML = `${formattedDate}, ${formattedTime}`;
      };
      updateClock();
      setInterval(updateClock, 1000);
    }
  </script>
</body>
</html>