{% load static %}
  <!-- Sidebar -->
  <div id="page-wrapper" class="d-flex" style="min-height: 100vh;">
    <div id="sidebar" class="sidebar active">
      <div class="p-3" style="position: relative;">
        <button id="sidebarClose" class="btn btn-outline-secondary m-0" style="position: absolute!important; top: 15px!important; right: 10px!important;">
          <i class="ri-close-line"></i>
        </button>
        <div class="sidebar-logo p-3 text-center">
          <a href="{% url "home" %}" class="nav-link">
              <img src="{% static 'home/images/WeCareLogo.svg' %}" alt="Logo" class="img-fluid logo-small">
              <h3 class="">WeCare</h3>
          </a>
        </div>
        <ul class="list-group my-1">
          <a href="{% url "home" %}" class="nav-link {% if request.path == '/' %}active{% endif %} rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-home-9-fill me-1 menu-icons"></i>Home
            </li>
          </a>
        </ul>
        <ul class="list-group my-1">
            <a href="{% url "dashboard" %}" class="nav-link {% if '/dashboard/' in request.path %}active{% endif %} rounded">
              <li class="list-group-item d-flex align-items-center menu-item">
                <i class="ri-dashboard-fill me-1 menu-icons"></i>Dashboard
              </li>
            </a>
        </ul>
        {% if request.user.userprofile.userrole in "[ADMIN,BHW,DOCTOR]" %}
        <ul class="list-group my-1">
          <a href="{% url "checkup-calendar" %}" class="nav-link {% if '/checkup-calendar/' in request.path %}active{% endif %} rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-calendar-fill me-1 menu-icons"></i>Calendar
            </li>
          </a>
        </ul>
        {% endif %}

        {% if request.user.userprofile.userrole in '[ADMIN,BRGY-STAFF,BHW]' %}
        <ul class="list-group my-1">
          <a href="{% url "resident-list" %}" class="nav-link {% if '/residents/' in request.path %}active{% endif %} rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-home-heart-fill me-1 menu-icons"></i>Resident Information
            </li>
          </a>
        </ul>
        {% endif %}

        <ul class="list-group my-1">
            <a class="nav-link rounded patient-nav-toggle {% if '/patients/' in request.path or '/scheduled-checkup/' in request.path %}active{% endif %}" href="#" id="patientToggle">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-user-heart-fill me-1 menu-icons"></i>
              <span>Patient Information</span>
              <i class="ri-arrow-down-s-line ms-auto"></i>
            </li>
            </a>
            <div class="collapse {% if '/patients/' in request.path or '/scheduled-checkup/' in request.path %}show{% endif %}" id="patientDropdown">
            <a href="{% url "patient-list" %}" class="nav-link rounded patient-nav-item {% if '/patients/' in request.path %}active{% endif %}">
              <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-file-list-2-fill me-1 menu-icons"></i>
                Patient List
              </li>
            </a>
            {% if request.user.userprofile.userrole in "[ADMIN,BHW,DOCTOR]" %}
            <a href="{% url "scheduled-checkup-list" %}" class="nav-link {% if '/scheduled-checkup/' in request.path %}active{% endif %} rounded patient-nav-item">
              <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-calendar-todo-fill me-1 menu-icons"></i>
              Checkup
              </li>
            </a>
            {% endif %}
            </div>
        </ul>
        {% if request.user.userprofile.userrole in "[ADMIN,BHW,DOCTOR]" %}
        <ul class="list-group my-1">
          <a href="{% url "medicine-list" %}" class="nav-link rounded {% if '/medicines/' in request.path %}active{% endif %}">
            <li class="list-group-item d-flex align-items-center menu-item">
            <i class="ri-medicine-bottle-fill me-1 menu-icons"></i>
              Medicine Record
            </li>
          </a>
        </ul>
        {% endif %}

        <ul class="list-group my-1">
          <a class="nav-link rounded patient-nav-toggle {% if '/reports/' in request.path %}active{% endif %}" href="#" id="reportsToggle">
          <li class="list-group-item d-flex align-items-center menu-item">
            <i class="ri-file-list-2-fill me-1 menu-icons"></i>
            <span>Reports</span>
            <i class="ri-arrow-down-s-line ms-auto"></i>
          </li>
          </a>
          <div class="collapse {% if '/reports/' in request.path %}show{% endif %}" id="reportsDropdown">
          <a href="{% url "reports-resident-info" %}" class="nav-link rounded patient-nav-item {% if '/reports/residentInfo/' in request.path %}active{% endif %}">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-file-list-2-fill me-1 menu-icons"></i>
                Residents Report
            </li>
          </a>
          {% if request.user.userprofile.userrole in "[ADMIN,BHW,DOCTOR]" %}
          <a href="{% url "reports-patient-info" %}" class="nav-link rounded patient-nav-item {% if '/reports/patientInfo/' in request.path %}active{% endif %}">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-file-list-2-fill me-1 menu-icons"></i>
                Patients Report
            </li>
          </a>
          {% endif %}
          {% if request.user.userprofile.userrole in "[ADMIN,BHW,DOCTOR]" %}
          <a href="{% url "reports-medicine-record" %}" class="nav-link rounded patient-nav-item {% if '/reports/medicineRecord/' in request.path %}active{% endif %}">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-file-list-2-fill me-1 menu-icons"></i>
                Medicine Report
            </li>
          </a>
          {% endif %}
          </div>
        </ul>

        {% if request.user.userprofile.userrole in 'ADMIN' %}
        <ul class="list-group my-1">
          <a href="{% url "account-list" %}" class="nav-link {% if '/users/' in request.path %}active{% endif %} rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-account-box-2-fill me-1 menu-icons"></i>System Users
            </li>
          </a>
        </ul>

        <ul class="list-group my-1">
          <a href="{% url "logs-list" %}" class="nav-link {% if '/logs/' in request.path %}active{% endif %} rounded">
            <li class="list-group-item d-flex align-items-center menu-item">
              <i class="ri-account-box-2-fill me-1 menu-icons"></i>System Logs
            </li>
          </a>
        </ul>
        {% endif %}
      </div>
    </div>