{% extends "home/layout.html" %}
{% load static %}

{% block style %}{% endblock style %}

{% block body %}
<h3 class="mb-3">Patient Info - <span class="text-primary">List</span></h3>
<article class="content-section border rounded p-0 shadow">
    <div class="container">
      <div class="row mt-2">
        <div class="col-auto">
          <form method="get" action="">
            <div class="input-group">
                <select name="category" class="form-select border-secondary" style="cursor: pointer; vertical-align: middle; font-size: calc(0.7rem + 0.2vw);">
                  <option value="" {% if not request.GET.category %}selected{% endif %}>All Categories (Default)</option>
                  <option value="N/A" {% if request.GET.category == "N/A" %}selected{% endif %}>N/A</option>
                  <option value="Senior" {% if request.GET.category == "Senior" %}selected{% endif %}>Senior</option>
                  <option value="PWD" {% if request.GET.category == "PWD" %}selected{% endif %}>PWD</option>
                  <option value="Children" {% if request.GET.category == "Children" %}selected{% endif %}>Children (17 and below)</option>
                  <option value="Solo Parent" {% if request.GET.category == "Solo Parent" %}selected{% endif %}>Solo Parent</option>
                  <option value="Pregnant" {% if request.GET.category == "Pregnant" %}selected{% endif %}>Pregnant</option>
                </select>
                <select name="gender" class="form-select border-secondary" style="cursor: pointer; vertical-align: middle; font-size: calc(0.7rem + 0.2vw);">
                  <option value="" {% if not request.GET.gender %}selected{% endif %}>All Genders (Default)</option>
                  <option value="Male" {% if request.GET.gender == "Male" %}selected{% endif %}>Male</option>
                  <option value="Female" {% if request.GET.gender == "Female" %}selected{% endif %}>Female</option>
                </select>
                <button type="submit" class="btn btn-outline-secondary fw-bold" style="font-size: calc(0.8rem + 0.2vw);">Filter</button>
            </div>
          </form>
        </div>
        {% if request.user.userprofile.userrole in "[ADMIN,BHW]" %}
        <div class="col-auto ms-auto">
          <a href="{% url 'patient-select' %}" class="btn btn-success info border-dark fw-bold d-flex align-items-center" style="font-size: calc(0.8rem + 0.2vw);">
            <i class="ri-add-fill" style="font-size: calc(0.6rem + 0.4vw);"></i>
            <span class="ms-2">Register Patient</span>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="row mt-2">
        <div class="col-auto">
          <select id="customEntries" class="form-select d-inline w-auto border-secondary fw-bold" style="font-size: calc(0.8rem + 0.2vw); cursor: pointer; vertical-align: middle;">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span class="d-inline ms-2" style="font-size: calc(0.8rem + 0.2vw); vertical-align: middle;">Entries per page</span>
        </div>
        <div class="col-auto ms-auto">
          <input type="text" id="searchBar" class="form-control d-inline w-auto border-secondary" placeholder="Search..." style="font-size: calc(0.8rem + 0.2vw); vertical-align: middle;">
        </div>
      </div>
    </div>
    
    <div class="table-responsive mt-2">
        <table id="dataTable" class="table table-light table-striped text-center m-0 projectTables">
        <thead class="table-dark">
          <tr>
            <th class="text-start">Family No.</th>
            <th class="text-start">Patient ID</th>
            <th class="text-start">Last Name</th>
            <th class="text-start">First Name</th>
            <th class="text-start">Middle Name</th>
            <th class="text-start">Birthdate</th>
            <th class="text-start">Age</th>
            <th class="text-start">Civil Status</th>
            <th class="text-start">Gender</th>
            <th class="text-start">Category</th>
            <th class="text-start">Contact Number</th>
            <th class="text-start">Last Visit</th>
            {% if request.user.userprofile.userrole in "[ADMIN,BHW, DOCTOR]" %}
              <th class="text-start">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td class="text-start"> 
                  {% if request.user.userprofile.userrole in '[ADMIN, BRGY-STAFF]' %}
                  <a href="{% url 'family-update' patient.resident.family.family_no %}" 
                  class="btn btn-sm btn-outline-success fw-bold px-4">
                    <i class="ri-edit-2-line"></i>{{ patient.resident.family.family_no }}
                  </a>
                  {% else %}
                    <a href="{% url 'family-detail' patient.resident.family.family_no %}" class="btn btn-sm btn-outline-success fw-bold px-4 text-center"><i class="ri-team-fill"></i>{{ patient.resident.family.family_no }}</a>
                  {% endif %}  
                </td>
                <td class="text-start">
                  <a href="{% url 'patient-detail' patient.patientID %}" class="btn btn-sm btn-outline-primary fw-bold px-4">
                    <i class="ri-user-search-line"></i>{{ patient.patientID }}
                  </a>
                </td>
                <td class="text-start">{{ patient.resident.last_name }}</td>
                <td class="text-start">{{ patient.resident.first_name }}</td>
                <td class="text-start">{{ patient.resident.middle_name }}</td>
                <td class="text-start">{{ patient.resident.birthdate|date:"M d, Y" }}</td>
                <td class="text-start">{{ patient.resident.age }}</td>
                <td class="text-start">{{ patient.resident.civil_status }}</td>
                <td class="text-start">{{ patient.resident.gender }}</td>
                <td class="text-start">{{ patient.resident.category }}</td>
                <td class="text-start">{{ patient.resident.contact_number }}</td>
                <td class="text-start">
                  {% if patient.last_visit_date %}
                    {{ patient.last_visit_date|date:"M d, Y" }}
                  {% else %}
                    --
                  {% endif %}
                </td>
                {% if request.user.userprofile.userrole in "[ADMIN, BHW, DOCTOR]" %}
                <td>
                    <div class="d-flex">
                     
                        <a href="{% url "patient-update" patient.patientID %}" class="btn btn-sm btn-outline-success fw-bold flex-fill me-1" title="Edit">
                          <i class="ri-edit-2-fill"></i>
                        </a>
                        {% if request.user.userprofile.userrole in "[ADMIN]" %}
                          <button type="button" data-bs-toggle="modal" data-moduleName="Delete patient information" data-bs-target="#myModal" data-deleteData="{{ patient.resident.last_name }}, {{ patient.resident.first_name }}" data-ID="{{ patient.patientID }}" class="btn btn-sm btn-outline-danger"><i class="ri-delete-bin-5-fill"></i></button>
                        {% endif %}
                    
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <div id="customPagination"></div>
    </div>
</article>
{% endblock body %}

{% block script %}
<script>

  $('#myModal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget);
    var deleteData = button.attr('data-deleteData');
    var dataID = button.attr('data-ID')
    var dataUrl = button.attr('data-Url')
    var moduleName = button.attr('data-moduleName')
    

    var txtDeleteData = deleteData
    $(this).find('#deleteMessage').text('Are you sure you want to 0 for: '.replace('0', moduleName));
    $(this).find('#txtDeleteData').text(txtDeleteData);
    $(this).find('#btnDelete').attr('href', '{% url "patient-delete-confirm" 0 %}'.replace('0', dataID));
  });

</script>
{% endblock script %}
