{% extends "home/layout.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'patientInfo/main.css' %}">
{% endblock style %}

{% block body %}
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Patient Details - Patient <span class="text-primary">#{{ patient.patientID }}</span></h3>
    <a href="{% url 'patient-list' %}" class="btn btn-outline-secondary">
      <i class="fa-solid fa-xmark fw-bold"></i>
    </a>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="patientTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active fw-bold" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Patient Info</button>
    </li>
    {% if request.user.userprofile.userrole in "[ADMIN,BHW,DOCTOR]" %}
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="medical-tab" data-bs-toggle="tab" data-bs-target="#medical" type="button" role="tab" aria-controls="medical" aria-selected="false">Medical Record</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="vitalsigns-tab" data-bs-toggle="tab" data-bs-target="#vitalsigns" type="button" role="tab" aria-controls="vitalsigns" aria-selected="false">Vital Signs Record</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="presentIllness-tab" data-bs-toggle="tab" data-bs-target="#presentIllness" type="button" role="tab" aria-controls="presentIllness" aria-selected="false">Present Illness Record</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="medicine-tab" data-bs-toggle="tab" data-bs-target="#medicine" type="button" role="tab" aria-controls="medicine" aria-selected="false">Medicine Tracking</button>
    </li>
    {% endif %}
  </ul>

  <!-- Tab content -->
  <article class="tab-content content-section shadow-lg p-0" id="patientTabsContent">
    
    {% include "patientInfo/patient_detail_patientInfo_tab.html" %}

    {% if request.user.userprofile.userrole in "[ADMIN,BHW,DOCTOR]" %}

    {% include "patientInfo/patient_detail_medical_record_tab.html" %}

    {% include "patientInfo/patient_detail_medicine_tracking_tab.html" %}

    {% include "patientInfo/patient_detail_vital_signs_record_tab.html" %}

    {% include "patientInfo/patient_detail_presentIllnessRecord_tab.html" %}


    {% endif %}
  </article>
</div>
{% endblock body %}

{% block script %}
<script src="{% static 'patientInfo/patientMedicalRecordDataTable.js' %}"></script>
<script src="{% static 'patientInfo/patientMedicineTrackingDataTable.js' %}"></script>
<script src="{% static 'patientInfo/patientVitalSignsRecordDataTable.js' %}"></script>
<script src="{% static 'patientInfo/patientPresentIllnessRecordDataTable.js' %}"></script>
<script>
  $(document).ready(function(){
    $("#filter_start_date").flatpickr({
      dateFormat: "M d, Y",
      defaultDate: $("#filter_start_date").val() || null,
      allowInput: true,
      autoClose: true,
      onChange: function(selectedDates, dateStr, instance) {
        if($('#filter_start_date').val() && $('#filter_end_date').val()){
          $("#dateFilterForm").submit();
        }
      }
    });
    
    $("#filter_end_date").flatpickr({
      dateFormat: "M d, Y",
      defaultDate: $("#filter_end_date").val() || null,
      allowInput: true,
      autoClose: true,
      onChange: function(selectedDates, dateStr, instance) {
        if($('#filter_start_date').val() && $('#filter_end_date').val()){
          $("#dateFilterForm").submit();
        }
      }
    });
    
    // Initialize Vital Signs date pickers
    $("#vitalsignsfilter_start_date").flatpickr({
      dateFormat: "M d, Y",
      defaultDate: $("#vitalsignsfilter_start_date").val() || null,
      allowInput: true,
      autoClose: true,
      onChange: function(selectedDates, dateStr, instance) {
        if($('#vitalsignsfilter_start_date').val() && $('#vitalsignsfilter_end_date').val()){
          $("#vitalsignsdateFilterForm").submit();
        }
      }
    });
    
    $("#vitalsignsfilter_end_date").flatpickr({
      dateFormat: "M d, Y",
      defaultDate: $("#vitalsignsfilter_end_date").val() || null,
      allowInput: true,
      autoClose: true,
      onChange: function(selectedDates, dateStr, instance) {
        if($('#vitalsignsfilter_start_date').val() && $('#vitalsignsfilter_end_date').val()){
          $("#vitalsignsdateFilterForm").submit();
        }
      }
    });


    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function(e) {
      localStorage.setItem('activeTab', $(e.target).attr('data-bs-target'));
    });

    var activeTab = localStorage.getItem('activeTab');
    if(activeTab) {
      var someTabTriggerEl = document.querySelector('button[data-bs-target="' + activeTab + '"]');
      if(someTabTriggerEl) {
        var tab = new bootstrap.Tab(someTabTriggerEl);
        tab.show();
      }
    }
  });

  $('#myModal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget);
    var deleteData = button.attr('data-deleteData');
    var dataID = button.attr('data-ID')
    var dataUrl = button.attr('data-Url')
    var moduleName = button.attr('data-moduleName')
    
    if (moduleName == "Delete the medical record"){
      var txtDataUrl = '{% url "medical-record-delete" patient.patientID 0 %}'
    }
    else if (moduleName == "Delete the vital signs record"){
      var txtDataUrl = '{% url "vital-signs-delete" patient.patientID 0 %}'
    }
    else if (moduleName == "Delete the present illness record"){
      var txtDataUrl = '{% url "present-illness-delete" 0 %}'
    }
    else{
      var txtDataUrl = '{% url "medicine-tracking-delete" 0 %}'
    }

    var txtDeleteData = deleteData
    $(this).find('#deleteMessage').text('Are you sure you want to 0 for: '.replace('0', moduleName));
    $(this).find('#txtDeleteData').text(txtDeleteData);
    $(this).find('#btnDelete').attr('href', txtDataUrl.replace('0', dataID));
  });
</script>
{% endblock script %}