    <!-- Medical Record Tab -->
    <div class="tab-pane fade" id="medical" role="tabpanel" aria-labelledby="medical-tab">
        <div class="container px-3 pt-3">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Medical Records</h4>
          </div>
          <!-- Date Filter Form (no button; auto-submit on valid date change) -->
          <small class="text-muted">Filter by Date:</small>
          <div class="row">
            <div class="col-auto my-auto">
              <form method="get" id="dateFilterForm" class="my-auto">
                  <div class="input-group mt-2" style="font-size: calc(0.8rem + 0.2vw);">
                      <input type="text" id="filter_start_date" name="start_date"
                             class="form-control flatpickr-range" placeholder="From Date"
                             value="{{ request.GET.start_date }}"
                             style="font-size: calc(0.8rem + 0.2vw);">
                      <span class="input-group-text">
                          <i class="ri-calendar-line"></i>
                      </span>
                      <i class="ri-arrow-right-long-fill my-auto mx-2"></i>
                      <input type="text" id="filter_end_date" name="end_date"
                             class="form-control flatpickr-range" placeholder="To Date"
                             value="{{ request.GET.end_date }}"
                             style="font-size: calc(0.8rem + 0.2vw);">
                      <span class="input-group-text">
                          <i class="ri-calendar-line"></i>
                      </span>
                  </div>
              </form>
            </div>
            <div class="col-auto ms-auto my-auto">
              {% if request.user.userprofile.userrole in "[ADMIN,DOCTOR]" %}
                <a href="{% url 'medical-record-create' patient.patientID %}" class="btn btn-success fw-semibold" style="font-size: calc(0.8rem + 0.2vw);">
                  <i class="ri-add-fill fw-bold" style="font-size: calc(0.6rem + 0.4vw);"></i> Add Medical Record
                </a>
              {% endif %}
            </div>
          </div>
          <!-- Entries and Search Bar -->
          <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
            <div>
              <select id="patientMedicalRecordEntries" class="form-select d-inline w-auto border-secondary fw-bold" style="font-size: calc(0.8rem + 0.2vw); cursor: pointer;">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <span class="ms-2">Entries per page</span>
            </div>
            <div>
              <input type="text" id="patientMedicalRecordSearchBar" class="form-control d-inline w-auto border-secondary" placeholder="Search..." style="font-size: calc(0.8rem + 0.2vw);">
            </div>
          </div>
        </div>
        <!-- Medical Records Table -->
        <div class="table-responsive">
          <table class="table table-striped projectTables" id="patientMedicalRecordDataTable">
            <thead class="table-dark">
              <tr>
                <th class="text-start">Chief Complain</th>
                <th class="text-start">Description</th>
                <th class="text-start">Recommendation</th>
                <th class="text-start">Date Visited</th>
                {% if request.user.userprofile.userrole in "[ADMIN]" %}
                  <th class="text-center ms-auto me-auto">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for record in medical_records %}
              <tr>
                <td class="text-start align-middle">{{ record.concern }}</td>
                <td class="text-start align-middle">{{ record.description }}</td>
                <td class="text-start align-middle">{{ record.recommendation }}</td>
                <td class="text-start align-middle">{{ record.last_visited|date:"M d, Y" }}</td>
                {% if request.user.userprofile.userrole in "[ADMIN]" %}
                <td class="text-center align-middle">
                  <a href="{% url 'medical-record-update' record.id %}" class="btn btn-sm btn-outline-success px-4 responsive_text fw-bold flex-fill" title="Edit"><i class="ri-edit-2-fill"></i></a>
                  {% if request.user.userprofile.userrole in "[ADMIN]" %}
                  <button type="button" data-bs-toggle="modal" data-bs-target="#myModal" data-deleteData="{{ patient.patientID }}: {{ patient.resident.last_name }}, {{ patient.resident.first_name }}" data-ID="{{ record.id }}" data-moduleName="Delete the medical record" class="btn px-4 btn-sm btn-outline-danger responsive_text my-auto"><i class="ri-delete-bin-5-fill"></i></button>
                  {% endif %}
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- Custom Pagination Container -->
        <div id="patientMedicalRecordCustomPagination"></div>
      </div>