{% extends 'home/layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'dashboard/main.css' %}">
<style>
    article
</style>
{% endblock style %}

{% block body %}
<h3 class="mb-4">Dashboard</h3>
<div class="row">
    <div class="col-6">

        <article class="content-section border-secondary-subtle rounded p-3 shadow-lg responsive_text">
            <h4 class="text-start mb-3 fw-bold responsive_header"><i class="fa-solid fa-address-book me-2"></i>RESIDENT SUMMARY</h4>
            <div class="row">
                <div class="col">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header card-title bg-secondary-subtle">
                            <i class="fa-solid fa-users me-2"></i>Total Residents
                        </div>
                        <div class="card-body text-center">
                            <h5 class="badge card-title fs-4 bg-warning rounded-pill text-dark">{{ residentCount_total }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <i class="fa-solid fa-question-circle"></i><span class="fw-medium"> Adult</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ residentCount_na }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-wheelchair responsive_text"></i> PWD</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ residentCount_pwd }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-user-plus responsive_text"></i> Solo Parent</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ residentCount_solo_parent }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-child responsive_text"></i> Children</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ residentCount_children }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-person responsive_text"></i> Senior</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ residentCount_senior }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-heart responsive_text"></i> Pregnant</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ residentCount_pregnant }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-mars responsive_text"></i> Male</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-success rounded-pill fs-6">{{ residentCount_male }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-venus responsive_text"></i> Female</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-success rounded-pill fs-6">{{ residentCount_female }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </article>

    </div>

    <div class="col-6">

        <article class="content-section border-secondary-subtle rounded p-3 shadow-lg responsive_text">
            <h4 class="text-start mb-3 fw-bold responsive_header"><i class="fa-solid fa-hospital-user me-2"></i>PATIENT SUMMARY</h4>
            <!-- Total Patients -->
            <div class="row">
                <div class="col">
                    <div class="card mb-4 shadow">
                        <div class="card-header card-title bg-secondary-subtle">
                            <i class="fa-solid fa-users me-2 responsive_text"></i>Total Patients
                            <span><small class="text-muted responsive_text">(Registered)</small></span>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="badge card-title fs-4 bg-warning rounded-pill text-dark">{{ patientCount_total }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Age Groups -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-child responsive_text"></i> Ages 0-6</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ patientCount_0_6 }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-child responsive_text"></i> Ages 6-18</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ patientCount_6_18 }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-user responsive_text"></i> Ages 19-59</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ patientCount_19_59 }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header bg-secondary-subtle">
                            <i class="fa-solid fa-user responsive_text"></i><span class="fw-medium responsive_text"> Ages 59 &amp; Above</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ patientCount_59_above }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-person responsive_text"></i> Senior</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ patientCount_senior }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-wheelchair responsive_text"></i> PWD</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ patientCount_pwd }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-user-plus responsive_text"></i> Solo Parent</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ patientCount_solo_parent }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-heart responsive_text"></i> Pregnant</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-primary rounded-pill fs-6">{{ patientCount_pregnant }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-mars responsive_text"></i> Male</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-success rounded-pill fs-6">{{ patientCount_male }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-4 shadow" style="">
                        <div class="card-header bg-secondary-subtle">
                            <span class="fw-medium"><i class="fa-solid fa-venus responsive_text"></i> Female</span>
                        </div>
                        <div class="card-body text-center">
                            <span class="badge bg-success rounded-pill fs-6">{{ patientCount_female }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </article>
        

    </div>
</div>

{% endblock %}
