/* Global Styles */
body {
  background: #fafafa;
  color: #333333;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
ul {
  margin: 0;
}
.bg-steel {
  background-color: #5f788a;
}

/* Navbar Styles */
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.nav-font {
  font-size: calc(0.6rem + 0.6vw);
}

/* Content Section Styles */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.article-title {
  color: #444444;
}
a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}
.article-content {
  white-space: pre-line;
}
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}
.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}
.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}
.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading {
  font-size: 2.5rem;
}

/* Layout Wrappers */
#page-wrapper {
  display: flex;
  min-height: 100vh;
}
#content-wrapper {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

/* Sidebar Styles */
.sidebar {
  width: 275px;
  min-width: 275px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  transition: width 0.3s ease, min-width 0.3s ease; /* Transition both properties */
}
.sidebar.sidebar-hidden {
  width: 0;
  min-width: 0;
  overflow: hidden;
}

/* Responsive Sidebar (mobile) */
@media (max-width: 768px) {
  .sidebar {
    width: 275px;
    min-width: 275px; /* Ensure min-width is consistent */
  }
  .sidebar.sidebar-hidden {
    width: 0;
    min-width: 0; /* Maintain hidden state */
  }
}

/* Menu Icons and Items */
.menu-icons {
  font-size: calc(0.1rem + 1vw) !important;
}
@media (max-width: 576px) {
  .menu-icons {
    font-size: 1.5rem !important;
  }
}
.menu-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.menu-item:hover {
  background-color: #5F788A !important;
  color: white;
}
.nav-link.active .menu-item {
  background-color: #5F788A;
  color: white;
}
.logo-small {
  width: 50px;
  height: auto;
  max-width: 100%;
}


.container{
  max-width: 1490px!important;
}